@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

@tailwind base;

@tailwind components;
@layer components {
	.card-mentor {
		max-width: 294px;
		width: 100%;
		height: 352px;

		position: relative;
		justify-self: center;
		transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
	}
}

@tailwind utilities;
@layer utilities {
	.text-mask {
		background: linear-gradient(
			1.71deg,
			#000000 -5.31%,
			rgba(28, 28, 28, 0.3559) 36.07%,
			rgba(87, 87, 87, 0.278144) 45.96%,
			rgba(255, 255, 255, 0) 61.23%
		);
	}
	.value-card--text-mask {
		background: linear-gradient(
			179.95deg,
			#170330 9.05%,
			rgba(23, 3, 48, 0.1) 48.73%,
			rgba(23, 3, 48, 0.410738) 48.73%,
			rgba(23, 3, 48, 0.1) 48.73%
		);
	}
}
