@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@layer components {
	.card-mentor {
		max-width: 294px;
		width: 100%;
		height: 352px;

		position: relative;
		justify-self: center;
		transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
	}

	
}

@tailwind utilities;
@layer utilities {
	.text-mask {
		background: linear-gradient(
			1.71deg,
			#000000 -5.31%,
			rgba(28, 28, 28, 0.3559) 36.07%,
			rgba(87, 87, 87, 0.278144) 45.96%,
			rgba(255, 255, 255, 0) 61.23%
		);
	}
	.value-card--text-mask {
		background: linear-gradient(
			179.95deg,
			#170330 9.05%,
			rgba(23, 3, 48, 0.1) 48.73%,
			rgba(23, 3, 48, 0.410738) 48.73%,
			rgba(23, 3, 48, 0.1) 48.73%
		);
	}

  .no-scroll {
    overflow: hidden !important;
   scrollbar-gutter: stable;
  }
}

.ant-select-multiple .ant-select-selection-placeholder {
	color: black;
}

.ant-select-multiple .ant-select-selection-item {
	background: white;
	border: solid 0px white;
}
.ant-input:hover {
	border-color: #170330;
}

.ant-input-affix-wrapper:hover {
	border-color: #170330 !important;
}

body {
  @apply bg-[#F7F7F7]
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  width: 9px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-700;
  border-radius: 100vw;
}

/* ::-webkit-scrollbar-track:hover { */
/*   background: hsl(0 0% 4% / 1); */
/*   border-radius: 100vw; */
/*   margin-block: 1em; */
/* } */

::-webkit-scrollbar-thumb {
  background: hsl(0 0% 8% / 1);
  border: 1px solid hsl(0 0% 9% / 1);
  border-radius: 100vw;
}

/* ::-webkit-scrollbar-thumb:hover { */
/*   @apply bg-gray-400 opacity-50 */
/* } */
