@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');
@import url('./scrollbar.css');

@tailwind base;
@tailwind components;

@tailwind utilities;
@layer utilities {
  .text-mask {
    background: linear-gradient(
      1.71deg,
      #000000 -5.31%,
      rgba(28, 28, 28, 0.3559) 36.07%,
      rgba(87, 87, 87, 0.278144) 45.96%,
      rgba(255, 255, 255, 0) 61.23%
    );
  }
  .value-card--text-mask {
    background: linear-gradient(
      179.95deg,
      #170330 9.05%,
      rgba(23, 3, 48, 0.1) 48.73%,
      rgba(23, 3, 48, 0.410738) 48.73%,
      rgba(23, 3, 48, 0.1) 48.73%
    );
  }

  .no-scroll {
    overflow: hidden !important;
    scrollbar-gutter: stable;
  }

  .flex-centre {
    @apply flex items-center justify-center;
  }
}

body {
  @apply bg-[#F7F7F7];
}

a:hover {
  @apply text-primary-300;
}