::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  width: 9px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-700;
  border-radius: 100vw;
}

/* ::-webkit-scrollbar-track:hover { */
/*   background: hsl(0 0% 4% / 1); */
/*   border-radius: 100vw; */
/*   margin-block: 1em; */
/* } */

::-webkit-scrollbar-thumb {
  background: hsl(0 0% 8% / 1);
  border: 1px solid hsl(0 0% 9% / 1);
  border-radius: 100vw;
}

/* ::-webkit-scrollbar-thumb:hover { */
/*   @apply bg-gray-400 opacity-50 */
/* } */
